* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgb(175, 175, 184);
    min-height: 100vh;
}

.messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 8px 2px black;
    min-height: 20vh;
    padding: 10px;
}
.message {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    box-shadow: 2px 2px 10px 3px black;
    background: rgb(58, 117, 73, 0.6);
    padding: 8px;
    border-radius: 15px;
    margin: 20px;
}

.message > p {
    max-width: 500px;
}

.message > h2 {
    color: rgb(3, 6, 46);
    margin-bottom: 10px;
    font-size: 22px;
}

.btn-date {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.btn-date > span {
    font-size: 11px;
    color: blanchedalmond;
}

button {
    background: rgb(6, 150, 148);
    padding: 5px;
    border-radius: 10px;
    height: 40px;
    color: rgb(12, 29, 16);
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid rgb(7, 102, 105)
}

button:hover  {
    background: rgb(54, 85, 106);
}